{% extends 'base.html' %}
{% load static %}

{% block title %} Смена пароля {% endblock %}

{% block content %}
<div class="container edit-form">
    <h1>Смена пароля</h1>
  	<hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center image">
            {% if request.user.img %}
                <img src="{{request.user.img.url}}" class="rounded-circle" height="170" width="170" alt="avatar">
            {% else %}
                <img src="{% static 'images/default-photo.jpeg' %}" class="rounded-circle" height="170" width="170" alt="avatar">
            {% endif %}
        </div>		
      </div>
      
      <div class="col-md-9">
        <div class="alert alert-warning alert-dismissable mt-3">
          <i class="text-center cart-icon material-icons">priority_high</i>
          Отменить смену пароля <strong>нельзя</strong>.
        </div>
        <h3>Личная информация</h3>
        <form method="post">
            {% csrf_token %}
		  <div class="form-group">
            <label class="col-md-3 control-label">Старый пароль</label>
            <div class="col-md-8">
                <input class="field form-control shadow-none" type="password" name="old_password" autocomplete="current-password" autofocus="" required id="id_old_password">
				{% if form.errors.old_password %}
					<ul class="error-list">
						{{form.errors.old_password}}
					</ul>
				{% endif %}
            </div>
          </div>
		  <div class="form-group">
            <label class="col-lg-3 control-label">Новый пароль</label>
            <div class="col-lg-8">
                <input class="field form-control shadow-none" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
				{% if form.errors.new_password1 %}
					<ul class="error-list">
						{{form.errors.new_password1}}
					</ul>
				{% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Новый пароль (еще раз)</label>
            <div class="col-lg-8">
				<input class="field form-control shadow-none" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
				{% if form.errors.new_password2 %}
					<ul class="error-list">
						{{form.errors.new_password2}}
					</ul>
				{% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8 mb-3">
                <input class="btn btn-default shadow-none" type="submit" name="login" value="Сменить пароль">
				<a class="btn shadow-none" href="{% url 'home' %}">Вернуться на главную</a>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}