<footer id="footer" class="my-footer footer text-center text-lg-start">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
              <h6 class="text-uppercase fw-bold footer-header">CryptoChecker</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #FF9800; height: 2px"/>
              <p style="color: #293e63; font-weight: bold">Твой любимый отслеживатель портфеля</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
              <h6 class="text-uppercase fw-bold footer-header">Контакты</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #FF9800; height: 2px"/>
              <p>
                <a href="mailto:tymchukvladislav.work@gmail.com" class="fas fa-home me-3">Написать эл. письмо</a>
              </p>
              <p>
                <a class="fas fa-home me-3">TG: @csrzppl</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
              <h6 class="text-uppercase fw-bold footer-header">Идея</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #FF9800; height: 2px"/>
              <p>
                <a href="#" class="fas fa-home me-3">О проекте</a>
              </p>
            </div>
          </div>
        </div>
</footer>